
    <h1>Welcome to <%= @url %>, <%= @user.email %></h1>
    <p>
      You were successfully signed up to <%= @url %>,
      your username is: <%= @user.email %> and your password is: <%= @user.password %> .<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
