
<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Add a notifaction</h1>
  <div class="alert alert-success" role="alert">A success notification</div>
  <div class="alert alert-info" role="alert">An info notification</div>
  <div class="alert alert-warning" role="alert">A warning notification</div>
  <div class="alert alert-danger" role="alert">A danger notification</div>

  <%= form_for :notification, url:notifications_path do |f| %>
  <form>
    <div class="form-group">
        <%= label_tag "Notification type" %><br>
        <%= f.select(:ntype, [['Success (green)'], ['Info (blue)'],['Warning (yellow)'],['Danger (red)']]) %>
    </div>
    <div class="form-group">
      <%= label_tag "Message" %><br>
      <%= f.text_area :message, :class => "form-control", :placeholder => "Your message"%>
    </div>
    <%=submit_tag "Submit", :class=>"btn btn-default" %>
  </form>

  <% end %>
</div>
