<% randn = rand(1..3) %>
<% if randn == 1%>
  <div class="container-fluid head pink">
<% elsif randn == 2%>
  <div class="container-fluid head blue">
<% elsif randn == 3%>
  <div class="container-fluid head green">
<% end %>
<h1>Account settings</h1>
<h2 class="sub">Change your password</h1>
</div>

<div class="container">
<%= form_for @user, url:change_password_path do |f| %>
<form>
  <div class="form-group">
      <%= label_tag "Password" %><br>
      <%= f.password_field :password, :autocomplete => "off", :class => "form-control", :placeholder => "new password"%>
  </div>
  <div class="form-group">
      <%= label_tag "Password confirmation" %><br>
      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "new password confirmation"%>
  </div>
  <%=submit_tag "Submit", :class=>"btn btn-default" %>
</form>

<% end %>
</div>
