
<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Edit User</h1>
    <%= form_for @user do |f| %>

      <form>
        <div class="form-group">
          <%= label_tag "Role" %><br>
          <% if (can? :destroy, current_user) %>
            <%= f.select(:role, [['Default'], ['Moderator'],['Administrator']]) %>
          <% else %>
            <%= f.select(:role, [['Default'], ['Moderator']]) %>
          <% end %>
        </div>
        <%=submit_tag "Submit", :class=>"btn btn-default" %>
      </form>
    <% end %>

</div>
