
<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <%= form_for @user, url:users_path do |f| %>

    <form>
      <div class="form-group">
        <%=label_tag "Email: " %><br>
        <%= f.text_field :email, :class => "form-control", :placeholder => "Email of the user to be registered" %>
      </div>
      <div class="form-group">
          <%= label_tag "Access level: " %><br>
          <% if (can? :destroy, current_user) %>
            <%= f.select(:role, [['Default'], ['Moderator'],['Administrator']]) %>
          <% else %>
            <%= f.select(:role, [['Default'], ['Moderator']]) %>
          <% end %>
      </div>
      <%=submit_tag "Submit", :class=>"btn btn-default" %>
    </form>
    </div>
  <% end %>
