<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Index content</h1>

  <% if !@frontpv.nil? %>
    <%= form_for @frontpv, url:cp_indexcontent_path do |f| %>
    <form>
      <div class="form-group">
          <%= label_tag "Title" %><br>
          <%= f.text_field :title, :class => "form-control", :value => (@frontpv.title || "No value in database")%>
      </div>
      <div class="form-group">
        <%= label_tag "Message" %><br>
        <%= f.text_area :message, :class => "form-control", :value => (@frontpv.message || "No message in database")%>
      </div>
      <div class="form-group">
          <%= label_tag "Location" %><br>
          <%= f.text_field :location, :class => "form-control", :value => (@frontpv.location || "No value in database")%>
      </div>
      <div class="form-group">
          <%= label_tag "Date" %><br>
          <%= f.text_field :date, :class => "form-control", :value => (@frontpv.date || "No value in database")%>
      </div>
      <%=submit_tag "Submit", :class=>"btn btn-default" %>
    </form>
    <% end %>
  <% else %>
    <h1> Run: rake db:seed </h1>
  <% end %>


</div>
