<div class="jumbotron jblue">
     <div class="container">

         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <h1>
             <% if !@frontpv.nil? %>
              <%= @frontpv.title %>
             <% else %>
              Run: rake db:seed
              <% end %>
            </h1>
           <p>
           <% if !@frontpv.nil? %>
            <%= @frontpv.message %>
           <% else %>
            Run: rake db:seed
            <% end %>
          </p>
          </h1>
             <div class="row margintop20">
              <div class="col-xs-6 col-sm-4 center-text"><span class="glyphicon glyphicon-map-marker marginright" aria-hidden="true"></span>
                <% if !@frontpv.nil? %>
                 <%= @frontpv.location %>
                <% else %>
                 Run: rake db:seed
                 <% end %>
              </div>
              <div class="col-xs-6 col-sm-4 center-text"><span class="glyphicon glyphicon-calendar marginright" aria-hidden="true"></span>
                <% if !@frontpv.nil? %>
                 <%= @frontpv.date %>
                <% else %>
                 Run: rake db:seed
                 <% end %>
              </div>
              <div class="clearfix visible-xs"></div>
              <div class="col-xs-6 col-sm-4 center-text">
                <span class="glyphicon glyphicon-education marginright" aria-hidden="true">
                </span>
                <% if @spksize == 1 %>
                  <%=@spksize %> Speaker
                <% else %>
                  <%=@spksize %> Speakers
                <% end %>
              </div>
              <!--<div class="col-xs-6 col-sm-3 center-text"><span class="glyphicon glyphicon-user marginright" aria-hidden="true"></span><%=@att %> Attending</div>-->
            </div>

            <div class="center-text margintop20">
                <% if !user_signed_in? %>
                <button class="btn signup" type="submit" onclick="window.location='http://iccdu2016.org.uk/';">Sign Up</button>
                <button class="btn login" type="submit" onclick="window.location='../users/sign_in';">Login</button>
                <% end %>
            </div>
         </div>

    </div>
</div>

<div class="container marketing">
  <div class="row">
        <h1>Conference Speakers</h1>
        <h1 class="sub">Read more about our speakers</h1>
</div>
<% displayButton = false %>
<% if !@speakerF.nil? %>
<div class="row">
        <% @speakerF.each do |a| %>
        <% if a.to_display == "1" %>
        <% displayButton = true %>
        <div class="col-lg-3 col-sm-6" >
          <%= image_tag a.avatar_url(:normal) %>
          <h2><%= a.full_name%></h2>
          <p><%= a.organisation%></p>
          <p><a class="btn btn-default" href="/speaker?id=<%=a.id%>" role="button">Read more &raquo;</a></p>
        </div>
        <% end %>
        <% end %>
        <!-- /.col-lg-4 -->
</div>
  <% if displayButton %>
        <div class="row">
        <div class="center-text margintop20">
            <button class="btn largebutton" onclick="window.location='../speakers_list';" type="submit">View all</button>
        </div>
      </div>
    <% end %>
  <% else %>
      <h2 class= "sub">No speakers to be displayed! </h2>

<% end %>
<% if !displayButton %>
<h2 class= "sub">No speakers to be displayed! </h2>
<% end %>
</div>

<div class="container marketing">
    <h1>Conference schedule</h1>
    <h1 class="sub">The fun you all shall have</h1>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Sunday 11th</th>
            <th>Monday 12th</th>
            <th>Tuesday 13th</th>
            <th>Wednesday 14th</th>
            <th>Thursday 15th</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="success">9.00-9.45 Plenary (45mins)</td>
            <td class="success">9.00-9.45 Plenary (45mins)</td>
            <td class="success">9.00-9.45 Plenary (45mins)</td>
            <td class="warning">9.00-10.30 CO2 Forum - Industrial sucessess in CDU Materials and Minerals Storage</td>
          </tr>
          <tr>
            <td></td>
            <td class="info">9.45- 10.15 - Parallel Keynote (30mins each)</td>
            <td class="info">9.45- 10.15 - Parallel Keynote (30mins each)</td>
            <td class="info">9.45- 10.15 - Parallel Keynote (30mins each)</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="danger">10.15-10.50 - Coffee (25mins)</td>
            <td class="danger">10.15-10.50 - Coffee (25mins)</td>
            <td class="danger">10.15-10.50 - Coffee (25mins)</td>
            <td class="danger">10.30- 11am - Coffee</td>
          </tr>
          <tr>
            <td></td>
            <td class="info">10.50-12.30 Parallel sessions 5 talks ( 1.5hrs)</td>
            <td class="info">10.50-12.30 Parallel sessions 5 talks ( 1.5hrs)</td>
            <td class="info">10.50-12.30 Parallel sessions 5 talks ( 1.5hrs)</td>
            <td class="warning">11-12. 30 CO2 Forum - Fuels</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="success">12.30 - Closing session (15mins)</td>
          </tr>
          <tr>
            <td></td>
            <td class="danger">12.30-1.30 - Lunch (1hr)</td>
            <td class="danger">12.30-1.30 - Lunch (1hr)</td>
            <td class="danger">12.30-1.30 - Lunch (1hr)</td>
            <td class="danger">12.45-1.45 - Lunch (1hr)</td>
          </tr>
          <tr>
            <td></td>
            <td class="warning">1.30-3.30pm - Early Careers: 48 talks each at 5mins (2hrs)</td>
            <td class="info">1.30-3.30 - parallel session 6 talks (2hrs)</td>
            <td class="info">1.30-3.10 - parallel session 5 talks (1hr 40)</td>
            <td class="active">EU POLICY SESSION</td>
          </tr>
          <tr>
            <td class="active">3-4.45 Registration.</td>
            <td class="danger">3.30-4.00 pm Coffee (30mins)</td>
            <td class="warning">3.30-6 - Poster sessions and afternoon tea (2.5hrs)</td>
            <td class="danger">3.00-3.30 - Coffee break</td>
            <td></td>
          </tr>
          <tr>
            <td class="active">4.45 - Coach pick-up</td>
            <td class="info">4.00 - 5.40 Parallel session 5 talks </td>
            <td></td>
            <td class="info">3.30-5.10pm - Parallel session 5 talks</td>
            <td></td>
          </tr>
          <tr>
            <td class="active">5-7pm - Kelham Island</td>
            <td></td>
            <td></td>
            <td class="active">7pm - Dinner at Cutlers Hall</td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>



</div>
