
<% randn = rand(1..3) %>
<% if randn == 1%>
  <div class="container-fluid head pink">
<% elsif randn == 2%>
  <div class="container-fluid head blue">
<% elsif randn == 3%>
  <div class="container-fluid head green">
<% end %>


  <% if flash.any? %>
  <div class="alert alert-danger" role="alert">
    <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
    <%end%>
  </div>
  <%end%>

  <% speaker_not_nil = false %>
  <h1><%= @lecturesX.lecture_title %></h1>
  <h2 class="sub lecture-icons">
    <span class="glyphicon glyphicon-calendar lecture-icon" aria-hidden="true"></span><%= @lecturesX.day.full_date %>
    <span class="glyphicon glyphicon-dashboard lecture-icon" aria-hidden="true"></span><%= @lecturesX.start_time %> - <%= @lecturesX.end_time %>
    <span class="glyphicon glyphicon-book lecture-icon" aria-hidden="true"></span><%= @lecturesX.location %>
    <span class="glyphicon glyphicon-education lecture-icon" aria-hidden="true"></span>
    <% if !@speakerS.nil? %>
      <% speaker_not_nil = true %>
      <% if !@speakerS.forename.empty? && !@speakerS.surname.empty?%>
        <%= @speakerS.forename %> <%= @speakerS.surname %>
      <%end%>
    <% else %>
     Speaker not registered
    <% end %>
  </h2>
  <div class="center-text">
      <button class="btn" onclick="window.location='../schedule?time=<%= @lecturesX.day_id %>';">back to schedule</button>
      <button class="btn" onclick="window.location='../days_schedule';">view all days</button>
      <% if user_signed_in? %>
      <% day = @days.where(id: @lecturesX.day_id).first %>
      <% datevalue = day.date %>
      <% yr = datevalue.split('/')[2] %>
      <% mnth = datevalue.split('/')[1] %>
      <% dy = datevalue.split('/')[0] %>
      <%= form_for :calendar, url:calendars_path do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :lectures_id, :value => @lecturesX.id %>
          <%= f.hidden_field :ddate, :value => yr %>
          <%= f.hidden_field :ddatem, :value => mnth %>
          <%= f.hidden_field :ddated, :value => dy %>
          <%= f.hidden_field :ltime, :value => @lecturesX.start_time %>
          <%=submit_tag "add to schedule", :class=>"btn" %>
      <% end %>
      <%end %>

  </div>
</div>

<div class="container lecture-view">

  <h1>Lecture Description</h1>
  <p><%= @lecturesX.description %></p>

</div>

<% has_facebook = false %>
<% has_linkedin = false %>
<% has_twitter = false %>
<% has_website = false %>

<div class="container-fluid lecture-speaker-info">
  <div class="container lecture-view speaker-info">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2><% if !@speakerS.nil? %>
            <% if !@speakerS.forename.empty? && !@speakerS.surname.empty?%>
              <%= @speakerS.forename %> <%= @speakerS.surname %>
            <%end%>
          <% else %>
           Speaker not registered
          <% end %></h2>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2><% if !@speakerS.nil? %>
              <%= image_tag @speakerS.avatar_url(:normal) %>
              <%end%>
              <p></p>
          </div>

          <!-- <p class="sub"><%= @lecturesX.key_speaker %></p> -->
          <p class="contacts">
          <% if speaker_not_nil %>
            <% if !@speakerS.facebook.nil? && !@speakerS.facebook.empty? %>
              <a href="<%= @speakerS.facebook %>"><%= image_tag("Facebook.png", class: 'social-icon') %></a>
              <% has_facebook = true %>
            <% end %>
            <% if !@speakerS.linkedIn.nil? && !@speakerS.linkedIn.empty? %>
              <a href="<%= @speakerS.linkedIn %>"><%= image_tag("Linked-in.png", class: 'social-icon') %></a>
              <% has_linkedin = true %>
            <% end %>
            <% if !@speakerS.twitter.nil? && !@speakerS.twitter.empty? %>
              <a href="<%= @speakerS.twitter %>"><%= image_tag("Twitter.png", class: 'social-icon') %></a>
              <% has_twitter = true %>
            <% end %>
            <% if !@speakerS.website.nil?  && !@speakerS.website.empty?%>
              <a href="<%= @speakerS.website %>"><%= image_tag("WWW.png", class: 'social-icon') %></a>
              <% has_website = true %>
            <% end %>
            <% if !has_facebook && !has_linkedin && !has_twitter && !has_website %>
            No contact information
            <% end %>
          <% end %>
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p> <% if speaker_not_nil && !@speakerS.biography.empty? %>
            <%= @speakerS.biography %>
            <% else %>
            Biography not available
            <% end %>
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="center-text">
               <p><% if speaker_not_nil %>
                 <a class="btn btn-default" href="/speaker?id=<%=@speakerS.id%>" role="button">Read more &raquo;</a>
                 <% else %>
                 Speaker not registered
                 <% end %>
               </p>
                <!-- <button class="btn largebutton" onclick="window.location='/speaker?email=<%= @lecturesX.key_speaker %>';" type="button">Read more</button> -->
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
