<% randn = rand(1..3) %>
<% if randn == 1%>
  <div class="container-fluid head pink">
<% elsif randn == 2%>
  <div class="container-fluid head blue">
<% elsif randn == 3%>
  <div class="container-fluid head green">
<% end %>


    <div class="container speaker-header">
          <h1 class="text"><%= @speakerX.full_name %></h1>
          <h2 class="text"><%= @speakerX.organisation%></h2>
    </div>
</div>

<% has_facebook = false %>
<% has_linkedin = false %>
<% has_twitter = false %>
<% has_website = false %>

<div class="container speaker-bio">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 speaker-image">
      <%= image_tag @speakerX.avatar_url(:normal) %>
      <h3 class="icons">
        <% if !@speakerX.facebook.nil? && !@speakerX.facebook.empty? %>
          <a href="<%= @speakerX.facebook %>"><%= image_tag("Facebook.png", class: 'social-icon') %></a>
          <% has_facebook = true %>
        <% end %>
        <% if !@speakerX.linkedIn.nil? && !@speakerX.linkedIn.empty? %>
          <a href="<%= @speakerX.linkedIn %>"><%= image_tag("Linked-in.png", class: 'social-icon') %></a>
          <% has_linkedin = true %>
        <% end %>
        <% if !@speakerX.twitter.nil? && !@speakerX.twitter.empty? %>
          <a href="<%= @speakerX.twitter %>"><%= image_tag("Twitter.png", class: 'social-icon') %></a>
          <% has_twitter = true %>
        <% end %>
        <% if !@speakerX.website.nil?  && !@speakerX.website.empty?%>
          <a href="<%= @speakerX.website %>"><%= image_tag("WWW.png", class: 'social-icon') %></a>
          <% has_website = true %>
        <% end %>
        <% if !has_facebook && !has_linkedin && !has_twitter && !has_website %>
        No contact information
        <% end %>
      </h3>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
      <h2>Biography</h2>
      <p><%= @speakerX.biography %></p>
      <h2>Academic background</h2>
      <p><%= @speakerX.academic_background %> </p>
      <% if !@speakerX.display_email.nil? %>
        <h2>Contact email</h2>
        <p><%= @speakerX.display_email %> </p>
      <% end %>
    </div>

  </div>
</div>

</div>
</div>
