
      <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Manage days</h1>
      <h2 class="sub-header">Days currently in the databse</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Day</th>
              <th>Columns</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @day.id %></td>
              <td><%= @day.date %></td>
              <td><%= @day.name %></td>
              <td><%= @day.column %></td>
              <%= link_to 'Edit', edit_day_path(@day) %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
