= simple_form_for(@value) do |f|

  - icons = ["balance-scale", "certificate", "check-circle", "heart", "hand-peace-o", "male", "phone", "plus-circle", "recycle", "shield", "tasks", "thumbs-up", "university", "users", "wrench"]
  - colours = ["Red", "Yellow", "Green", "LightBlue", "Blue"]

  .form-inputs
    %table.table{summary:"Objective form fields", :style=>"width: 100%"}
      %thead
        %tr
          %th Icon
          %th Value
          %th Colour
      %tbody
        %tr
          %th= f.select :icon, icons ,{selected: @value.icon}, {:id => "iconSelect", :class => "select2 form-control"}
          %th= f.input :company_value, placeholder: " ", label: false
          %th= f.select :colour, colours ,{selected: @value.colour}, {:id => "colourSelect", :class => "select2 form-control"}
          .form-actions
            %th
              = f.button :submit, class:"btn btn-primary"
