<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Edit Speaker Information</h1>

<%= form_for :speaker, url: speaker_path(@speaker), method: :patch do |f| %>
  <% if @speaker.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited
      this lecture from being saved:</h2>
    <ul>
    <% @speaker.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

    <form>

      <div class="form-group">
        <%= label_tag "Title" %><br>
        <%= f.select(:speaker_title, [['Prof.'], ['Dr.'],['Mr.'],['Mrs.'],['Ms.']]) %>
      </div>

      <div class="form-group">
        <%=label_tag "Forename" %><br>
        <%= f.text_field :forename, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=label_tag "Surname" %><br>
        <%= f.text_field :surname, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=label_tag "Organisation" %><br>
        <%= f.text_field :organisation, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=label_tag "Display email" %><br>
        <%= f.email_field :display_email, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=label_tag "Biography" %><br>
        <%= f.text_area :biography, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=label_tag "Academic Background" %><br>
        <%= f.text_area :academic_background, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=label_tag "Website" %><br>
        <%= f.url_field :website, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=label_tag "Facebook" %><br>
        <%= f.text_field :facebook, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=label_tag "Twitter" %><br>
        <%= f.text_field :twitter, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=label_tag "LinkedIn" %><br>
        <%= f.text_field :linkedIn, :class => "form-control" %>
      </div>

      <div class="form-group">
        <label for="lecture_file">Picture</label>
        <input type="file" id="lecture_file">
      </div>
      <%=submit_tag "Save Changes", :class=>"btn btn-default" %>
      <%= link_to 'Cancel', speakers_path, :class=>"btn btn-default" %>
    </form>
  </div>
<% end %>
