<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h1 class="page-header">Manage Speakers</h1>
<h2 class="sub-header">Speakers currently in the databse</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.id %></td>
        <td><%= speaker.speaker_title %></td>
        <td><%= speaker.forename %></td>
        <td><%= speaker.surname %></td>
        <td><%= speaker.email %></td>
        <td><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
        <td><%= link_to 'Delete', speaker_path(speaker),
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
