
      <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Manage days</h1>
      <h2 class="sub-header">Days currently in the databse</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Forename</th>
              <th>Surname</th>
              <th>Organisation</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @speaker.id %></td>
              <td><%= @speaker.speaker_title %></td>
              <td><%= @speaker.forename %></td>
              <td><%= @speaker.surname %></td>
              <td><%= @speaker.organisation %></td>
              <td><%= @speaker.biography %></td>
              <td><%= @speaker.academic_background %></td>
              <td><%= @speaker.email %></td>
              <td><%= @speaker.website %></td>
              <td><%= @speaker.facebook %></td>
              <td><%= @speaker.twitter %></td>
              <%= link_to 'Edit', edit_speaker_path(@speaker) %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
