<!DOCTYPE html>
<html>
<head>
  <title>The Sheffield Conference: Team 21</title>
  <%= stylesheet_link_tag 'cp', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <li><%= link_to "Back to the site", root_path, :class => "navbar-brand" %></li>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", cp_cpHome_path %></li>
          <li><%= link_to "Days", cp_days_path %></li>
          <li><%= link_to "Lectures", cp_lectures_path %></li>
          <li><%= link_to "Speakers", cp_speakers_path %></li>
          <li><%= link_to "Notifications", cp_notifications_path %></li>
          <li><%= link_to "Users", cp_users_path %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><%= link_to "Home", cp_cpHome_path %></li>
          <li><%= link_to "Index content", cp_indexcontent_path %></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><%= link_to "Manage Notifications", cp_notifications_path %></li>
          <li><%= link_to "Add Notifications", new_notification_path 	 %></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><%= link_to "Manage Days", cp_days_path %></li>
          <li><%= link_to "Add Days", cp_add_day_path %></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><%= link_to "Manage Lectures", cp_lectures_path %></li>
          <li><%= link_to "Add Lectures", cp_add_lecture_path %></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><%= link_to "Manage Users", cp_users_path %></li>
          <li><%= link_to "Register Users",  cp_register_path %></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><%= link_to "Manage Speakers", cp_speakers_path %></li>
        </ul>
      </div>
      <div class="container">
      <%if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>

      <%if flash[:alert] %>
        <div class="alert alert-warning"><%= flash[:alert] %></div>
      <% end %>
      </div>
    <%= yield %>

    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

</body>
</html>
